@charset "UTF-8";
* {
font-size: 12px;
line-height: 160%;
}

body {
background:#fff;
color:#000;
direction:ltr;
font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;
font-size:11px;
line-height:1.182;
font-weight:400;
-webkit-font-smoothing:subpixel-antialiased;
margin:0;
padding:0;
}

form {
margin:14px 24px 0px;
padding:0;
}

input:-moz-placeholder,textarea:-moz-placeholder {
color:#777;
}

.listing {
list-style:square;
padding-left:40px;
color:#758EAC;
margin:0 0 15px;
}

ul.listing li {
padding:1px 0;
}

ul.listing li span {
color:#000;
}

#quick_id_button {
margin-top:0px;
}

.flat_button,.button_gray button,.button_blue button {
font-size:11px;
display:inline;
zoom:1;
cursor:pointer;
white-space:nowrap;
outline:none;
font-family:tahoma, arial, verdana, sans-serif, Lucida Sans;
vertical-align:top;
overflow:visible;
line-height:13px;
text-decoration:none;
background:none;
background-color:#6383a8;
color:#FFF;
border:0;
-webkit-border-radius:2px;
-khtml-border-radius:2px;
-moz-border-radius:2px;
-ms-border-radius:2px;
border-radius:2px;
-webkit-transition:background-color 100ms ease-in-out;
-khtml-transition:background-color 100ms ease-in-out;
-moz-transition:background-color 100ms ease-in-out;
-ms-transition:background-color 100ms ease-in-out;
-o-transition:background-color 100ms ease-in-out;
transition:background-color 100ms ease-in-out;
margin:0;
}

.flat_button::-moz-focus-inner,.button_blue button::-moz-focus-inner,.button_gray button::-moz-focus-inner {
border:0;
}

.flat_button:hover,.button_blue button:hover,.button_blue button.hover {
background-color:#6d8cb0;
text-decoration:none;
}

.flat_button:active,.flat_button.active,.button_blue button:active,.button_blue button.active {
background:#5c7ca1;
padding-top:7px;
padding-bottom:6px;
}

.button_big.flat_button:active,.button_big.flat_button.active,.button_big.is_2x .flat_button:active,.button_big.is_2x .flat_button.active {
padding-top:8px;
padding-bottom:7px;
}

.button_big.flat_button,.button_big.button_blue button,.button_big.button_gray button {
padding-top:7px;
padding-bottom:8px;
}

.flat_button.button_wide {
width:106.5%;
}

.InputPretty {
display: block;
width: 100%;
height: 30px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
}
/* Fix input highligtht */
textarea, input { outline: none; }

.YearForeign {
color: #334C68;
cursor: pointer;
padding-top: 3px;
padding-left: 0px;
}

.YearForeign:hover {
text-decoration: underline;
}